.copy-button {
    width: 100%;
    height: 1.8rem;
    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.copy-button.copied .button-text {
    visibility: hidden;
}

.copy-button.copied::after {
    content: "✔️ Copied";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
